.as{
    margin-top: 50vmin;
    margin-left: 130vmin;
}
.al{
    margin-top: 2vmin;
    margin-left: 130vmin;
}
.timed{
    height:120vmin;
    width:120vmin;
    position: fixed;
}
.timee{
    height:30vmin;
    width:20vmin;
    position:fixed;
    margin-top: 10vmin;
    margin-left: 145vmin;
}
.timee:hover {
    height: 35vmin;
    width:25vmin;
}
.happy{
    margin-top: 2vmin;
    margin-left: 130vmin;
    background-color:cornflowerblue;
    color:white;  
}
.happyl{
    margin-top: 2vmin;
    margin-left: 4vmin;
    background-color:crimson;
    color:white;   
}
.hi{
    margin-top: 7vmin;
    margin-left: 130vmin;
}
.happylo{
    margin-top: 2vmin;
    margin-left: 130vmin;
    background-color: silver;
}