.ki{
    height: 97vmin;
    position: fixed;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:azure;
  }
  
  .lo{
    height: 95vmin;
    width: 650px;
  }
  .head{
    color:red;
    text-align: center;
  }
  .email{
    margin-top: 100px;
    margin-left: 120px;
  }
  .ji{
    margin-top: 15px;
    margin-left: 120px;
  }
  .password{
    margin-top: 10px;
    margin-left: 120px;
  }
  .butt{
    margin-top: 10px;
    margin-left: 120px;
    background-color: blue;
    color:white;
  }
  .reg{
    background-color: red;
    color:aliceblue;
    margin-top: 10px;
    margin-left: 120px;
  }
  .regi{
    background-color: red;
    color:aliceblue;
    margin-top: 10px;
    margin-left: 30px;
  }
  .image{
    width:80px;
    height:80px;
  }
  .tops{
    border-left: 20px;
    background-color:cornsilk;
  }
  .tops a{
    text-decoration: none;
    color:red;
    display: inline-block;
    padding-right: 120px;
     
  }
  .tops 
  .tops a:hover{
    border-radius: 30%;
    background-color: aquamarine;
  }
 